# Build output
target/
build/
out/

.mvn/wrapper/maven-wrapper.properties
.mvn/wrapper/maven-wrapper.jar

# Logs & temporary files
*.log
*.tmp

# OS-specific
.DS_Store
Thumbs.db

# IDEs
### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
# IntelliJ run configs & caches
/.run/

### VS Code ###
.vscode/

### Eclipse / STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# Env & secrets
.env
application-*.local.properties